@charset "UTF-8";

body {
	font-family:'Arial Unicode MS';
	font-size: 70%;
}

#results {
	border-collapse: collapse;
}

#results th, td {
    border: 1px #000000 dashed;
	padding: 5px;
}

#results thead {
	background: #6485B4;
	border: 1px #000000 solid;
}

.entry-odd {
	background: #E6EAEE;
}

#results tbody {
	border: 1px #000000 solid;
}

#results tbody:hover {
	background: #9EC9D7;
}

td.file-id {
    display: none;
}

.seg-info {
	text-align: center;
}

.seg-info a {
	display: block;
}

.seg-info a:link {
	color: #000000;
}

.seg-info a:visited {
	color: #000000;
}

.seg-info a:hover {
	color: #000000;
}

.seg-info a:active {
	color: #000000;
}

.matched {
    background:#ff8000;
    border-color:darkgray;
    border-radius:0.2em;
    box-shadow:1px 1px 1px gray;
}